// Colors
$default: #222;
$dark: #3f2f2f;
$light: #e6dad7;
$secondary: #ecd0c3;
$primary: #864d2d;
$alternative: #bf8f71;


// Fonts
$font-regular: "Inter";
$font-medium: "Inter Medium";
$font-bold: "Inter Bold";