@import "reset-css";
@import "~assets/scss/fonts";

body, html {
  font-size: 20px;
  font-family: $font-regular, sans-serif;
  color: $default;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

::selection {
  background: rgba($secondary, 0.9);
}

a {
  text-decoration: none;
  color: $default;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
  font-family: $font-bold, sans-serif;
}

h1, .h1 {
  font-size: 2.3rem;

  @media screen and (max-width: 515px) {
    font-size: 2rem;
  }
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.1;

  @media screen and (max-width: 515px) {
    font-size: 1.65rem;
  }
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.1;

  @media screen and (max-width: 515px) {
    font-size: 1.4rem;
  }
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.2;
} 

.link {
  color: $alternative;
  transition: 0.3s all;
  cursor: pointer;

  &:hover, &_active {
    color: darken($alternative, 15%);
  }

  &:active {
    opacity: 0.5;
  }
}

.separator {
  height: 2px;
  width: 100%;
  background: $secondary;
}

.simple-select {
  padding: 10px 5px;
  font-size: 1rem;
  min-width: 220px;
  border: 1px solid $alternative;
  cursor: pointer;
  outline: none;
  background: $secondary;
  border-radius: 4px;
}

.default {
  color: $default;
}

.dark {
  color: $dark;
}

.light {
  color: $light;
}

.secondary {
  color: $secondary;
}

.primary {
  color: $primary;
}

.alternative {
  color: $alternative;
}

.danger {
  color: $danger;
}

.success {
  color: $success;
}