@font-face {
    src: url("~assets/fonts/Inter-Regular.ttf") format("truetype");
    font-family: "Inter";
    font-display: swap;
}

@font-face {
    src: url("~assets/fonts/Inter-Bold.ttf") format("truetype");
    font-family: "Inter Bold";
    font-display: swap;
    font-weight: bold;
}

@font-face {
    src: url("~assets/fonts/Inter-Medium.ttf") format("truetype");
    font-family: "Inter Medium";
    font-display: swap;
}